/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');

@font-face { /* pls don't sue me gaby uwu */
    font-family: 'barbis_roundedbold';
    src: url('assets/barbis_rounded_bold-webfont-webfont.woff2') format('woff2'),
         url('assets/barbis_rounded_bold-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'junegullregular';
  src: url('assets/junegull_rg-webfont.woff2') format('woff2'),
       url('assets/junegull_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
    --color-bg: #ffffff;
    --color-A: #4b4b4b;
    --color-B: #f04dba;
    --color-links: #21b380;
    --color-links-hover: #47d363;
    --font: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

body{
    margin: 0px;
    font-family: var(--font);
    background-color: var(--color-bg);
    background-image: url("assets/bg-tex-fabric.png");
}

#background-video {
  width: 100vw;
  max-height: 500px;
  /* height: 100vh; */
  /* object-fit: cover; */
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;  
}

.cart-container{
    text-align: center;
    background-image: url("assets/lines.png");
    /* background-image: linear-gradient(#13151b, #111735); */
    background-repeat: repeat-x;
    background-position: left top;
    max-height: 700px;
}
.cart-container-decoration{
    background-image: url("assets/decoration.png");
    background-repeat: repeat-x;
    background-position: left top;
    height: 24px;
}
#cart-image{
    width: 80%;
    max-width: 700px;
}



.title{
    color: var(--color-B);
    font-size: 60px;
    font-weight: bold;
    font-family: 'junegullregular', 'Josefin Sans', sans-serif;
}
.subtitle{
    color: var(--color-B);
    font-size: 30px;
    margin-bottom: 30px; 
    font-weight: bold;
    font-family: 'barbis_roundedbold', 'Josefin Sans', sans-serif;
}

.seccion{
    color: var(--color-B);
    font-size: 34px;
    margin-left: 25px;
    margin-bottom: 5px;
    /* margin-bottom: 0px;     */
    /* padding: 0px;     */
    text-align: left;
    font-family: 'barbis_roundedbold', 'Josefin Sans', sans-serif;
}

.subseccion{
    /* color: var(--color-B); */
    font-size: 18px;
    margin-left: 25px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    font-family: 'barbis_roundedbold', 'Josefin Sans', sans-serif;
}

.container{
    text-align: center;
    color: var(--color-A);
    margin: auto;
    padding: 15px;
    margin-top: 20px;
    max-width: 1000px;
}

.separator{
    margin: 30px;
    height: 20px;
    text-align: center;
}

ul{
    margin-top: 0;
    text-align: left;
}


/* unvisited link */
a:link {
    color: var(--color-links);
    text-decoration: none
}
a:visited {
    color: var(--color-links);
    /* text-decoration: none */
}


/* mouse over link */
a:hover {
    color: var(--color-links-hover);
}
  








div.gallery {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 20px;
    
  }
  
  
div.gallery img {
  width: 100%;
  height: auto;
  /* -ms-interpolation-mode: nearest-neighbor; */
  image-rendering: pixelated;
  border-radius: 25px;

  /* padding:10px; */

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.63);
  
}

div.desc {
  padding: px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  /* padding: 0 4px; */
  
  float: left;
  width: 50%;
}

/* @media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;

  }
} 
*/

@media only screen and (max-width: 800px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 20px;
}







div.poster {
  border-radius: 25px 25px 0px 0px;
  padding-bottom: 20px;
  text-align: center;
}

div.poster img {
  width: 70%;
  height: auto;
  /* -ms-interpolation-mode: nearest-neighbor; */
  image-rendering: auto;
  border-radius: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.63);
}




